*.egg-info/
dist/
build/
*.py[cod]
node_modules/

# Compiled javascript
idom_jupyter/static/

# OS X
.DS_Store

# Py Env
.python-version

# VSCode
.vscode

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb
