# Python
.python-version
venv
*.egg-info/
dist/
build/
*.py[cod]
node_modules/

# Compiled javascript
idom_jupyter/nbextension/
idom_jupyter/labextension/

# OS X
.DS_Store

# VSCode
.vscode

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb
